

.about_block{
    // background-image: url("assets/images/main.jpg");
    text-align: center;
    letter-spacing: 1.5 px;
    width: 99%;
    h1{ color: white; font-weight: 100px;}
    h2{ color: orange; font-weight: 100px;}
    h3{ color: orange; font-weight: 100px;}
    h4{ color: white; font-weight: 100px;}
    h5{ color: orange; font-weight: 100px;}
    p{ color: white; font-weight: 100px;}
}

