<!--*********************
    Project - START
************************* -->

    <section id="works" class="pfblock pfblock-gray work_block background-img" ng-class="{'tennis' : hoverEditT, 'draft' : hoverEditD, 'work' : hoverEditW}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pfblock-header wow fadeInUp background-header">
                        <h2 class="pfblock-title">Projects</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle-work">
                            Clean, intuitive and highly functional design is the foundation of my approach to web development.
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-12">
                <div class="row">

                    <div class="col-sm-4">

                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba work-img"
                                    ng-mouseenter="hoverInT()"
                                    ng-mouseleave="hoverOutT()">
                                <span a href="www.tennisgroup.herokuapp.com"><img src="assets/images/tennisGroup.png" alt="tennis group"/></a></span>
                                <figcaption  ng-click="goTennis()">
                                    <h2>Tennis Group<br>   <span>Ruby on Rails</span></h2>
                                    <p>A responsive app for communities to coordinate individual matches and play more tennis.</p>
                                </figcaption>
                            </figure>
                        </div>
                        <button type="button" class="btn btn-link" ng-click="goTennis()">www.tennisgroup.herokuapp.com</button>
                    </div>

                    <div class="col-sm-4">

                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba work-img"
                                    ng-mouseenter="hoverInD()"
                                    ng-mouseleave="hoverOutD()">
                                <img src="assets/images/draftAssist.png" alt="draft assist"/>
                                <figcaption>
                                    <h2>Draft Assist <br><span>MEAN Stack</span></h2>
                                    <p>Integrating a seamless virtual experience into a live fantasy football draft. </p>
                                </figcaption>
                            </figure>
                        </div>
                        <button type="button" class="btn btn-link" ng-click="goDraft()">www.draft-assist.herokuapp.com</button>
                    </div>

                    <div class="col-sm-4">

                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba work-img"
                                    ng-mouseenter="hoverInW()"
                                    ng-mouseleave="hoverOutW()">
                                <img src="assets/images/workGems.png" alt="work gems"/>
                                <figcaption>
                                    <h2>Work Gems<br><span>MEAN Stack</span></h2>
                                    <p>The easiest way to showcase the gems of your craft. </p>
                                </figcaption>
                            </figure>
                        </div>
                        <button type="button" class="btn btn-link" ng-click="goWork()">www.workgems.herokuapp.com</button>
                    </div>

                </div>
            </div>

            <a href="contact">
                <div class="scroll-down">
                    <span>
                        <i class="fa fa-angle-down fa-2x"></i>
                    </span>
                </div>
            </a>

        </div>

    </section>

<!--*********************
    Projects - END
************************* -->


