.resume_block{
    text-align: center;
    margin: auto;
    // padding: 2% 2% 2% 2%;
    h1{ color: white; font-weight: 100px;}
    h2{ color: white; font-weight: 100px; letter-spacing: 1.5px}
    h3{ color: orange; font-weight: 100px;}
    h4{ color: gray; font-weight: 100px; letter-spacing: 1.5px}
    h5{ color: orange; font-weight: 50px; letter-spacing: 1.5px}
    p{ color: white; letter-spacing: 1.5px}
}

