#testimonial_block{
    // background-image: url("assets/images/main.jpg");
    text-align: center;
    padding: 0% 30%;
    width: 97%;

    h1{ color: white;}
    h2{ color: orange;}
    h3{ color: orange;}
    h4{ color: white;}
    h5{ color: white;}
    p{ color: white;}
}
